// Check out src/lib/styles/defaultTheme.scss
// Overwrite the variable with your preferences
// Don't forget the maintain level of structure for variables

@font-face {
  font-family: "Commissioner";
  font-weight: 100 900;
  src: url("../fonts/Commissioner-VariableFont_wght.woff2") format("woff2-variations");
}

:root {
  --qwer-bg-color: #e1e3dd;
  --qwer-text-color: black;
  font-family: "Commissioner", sans-serif;

  .prose {
    --qwer-strong-font-weight: 800;
    --qwer-strong-color: rgb(0, 136, 55);
  }
}

.dark {
  .prose {
    --qwer-strong-font-weight: 800;
    --qwer-strong-color: rgb(81, 198, 81);
  }
}