// Check out src/lib/styles/defaultTheme.scss
// Overwrite the variable with your preferences
// Don't forget the maintain level of structure for variables

@font-face {
  font-family: "Commissioner";
  font-weight: 100 900;
  src: url("../fonts/Commissioner-VariableFont_wght.woff2") format("woff2-variations");
}

:root {
  --qwer-bg-color: #E3F3EC;
  --qwer-text-color: black;
  font-family: "Commissioner", sans-serif;

  .prose {
    --qwer-strong-font-weight: 800;
    --qwer-strong-color: rgb(0, 136, 55);
  }

  .index-post {
    --qwer-bg-color: #B8E0CF;
  }
}

.dark {
  --qwer-bg-color: #180227;

  .prose {
    --qwer-strong-font-weight: 800;
    --qwer-strong-color: rgb(81, 198, 81);
  }

  .index-post {
    --qwer-bg-color: #453F78;
  }

  #post {
    --qwer-bg-color: #2F2A58;
  }

  #post-bottom {
    --qwer-bg-color: #262244;
  }
}